<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.0.6421.0">
	<applicationModules>
		<add title="Audit Trail - Elasticsearch" description="Logs audit events to an Elasticsearch instance." type="Telerik.Sitefinity.Audit.Elasticsearch.ElasticsearchAuditModule, Telerik.Sitefinity.Audit.Elasticsearch, Version=10.0.6421.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" startupType="Disabled" name="ElasticsearchAudit" />
	</applicationModules>
	<loadBalancingConfig>
		<parameters>
			<add value="http://merge1.sitefinity.com" />
			<add value="http://merge2.sitefinity.com" />
		</parameters>
		<senders>
			<add value="DatabaseSender.DatabaseMessagesSender, DatabaseSender" />
		</senders>
	</loadBalancingConfig>
	<outputCacheSettings>
		<profiles>
			<add duration="86400" name="Standard Caching" config:flags="1" />
		</profiles>
	</outputCacheSettings>
	<cacheManagers>
		<add startScavengingAfterItemCount="10000" whenScavengingRemoveItemCount="100" name="MarketoConnectorCache" />
	</cacheManagers>
</systemConfig>